.link-icon {
    text-decoration: none;
}
.link-icon:visited {
    color: #787885;
}
.link-icon:hover {
    color: #2979FF;
}
/* иконки */
.link-icon_clothing_wrapper {
    position: relative;
}
.link-icon_clothing_img {
    position: absolute;
    bottom: 20px;
    left: 50px;
}
.link-icon_entertainment_img {
    position: absolute;
    bottom: 20px;
    left: 40px;
}
.link-icon_music_img {
    position: absolute;
    bottom: 20px;
    left: 10px;
}
.link-icon_sport_img {
    position: absolute;
    bottom: 20px;
    left: 50px;
}
.link-icon_pets_img {
    position: absolute;
    bottom: 20px;
    left: 5px;
}
.link-icon_kitchen-accessories_img {
    position: absolute;
    bottom: 20px;
    left: 50px;
}
.link-icon_travel-equipment_img {
    position: absolute;
    bottom: 20px;
    left: 50px;
}
.link-icon_growing-garden_img {
    position: absolute;
    bottom: 20px;
    left: 50px;
}
.link-icon_electrical-tools_img {
    position: absolute;
    bottom: 20px;
    left: 40px;
}
.link-icon_mother-care_img {
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.link-icon_toys-entertainment_img {
    position: absolute;
    bottom: 20px;
    left: 60px;
}
.link-icon_vintage_img {
    position: absolute;
    bottom: 20px;
    left: 20px;
}